<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>

    <add name="magicConnect" connectionString="Data Source=tcp: 193.136.175.33\SQLSERVER2012,8293;Initial Catalog=p2g1;Integrated Security=False;User ID=p2g1;Password=7637776412;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=true" />
    <!--  <add name="magicConnect" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Magic;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>                         
</configuration>